{:compiler-options {:main frontend.core
                    :asset-path "js/main.out"
                    :parallel-build true
                    :preloads [devtools.preload]
                    :external-config {:devtools/config {:features-to-install [:formatters :hints :async]}}
                    ;; Node deps test
                    ; :install-deps true
                    ; :process-shim true
                    ; :npm-deps {:react "15.6.1"
                    ;            :react-dom "15.6.1"
                    ;            :create-react-class "15.5.3"}
                    }}
